In [2]:
from blazingsql import BlazingContext
from dask.distributed import Client
from dask_cuda import LocalCUDACluster
from dask_cuda import initialize

In [3]:
enable_tcp_over_ucx = True
enable_nvlink = False
enable_infiniband = False

In [4]:
import os
os.environ["UCX_LOG_LEVEL"] = "TRACE"

In [5]:
initialize.initialize(create_cuda_context=True,
                      enable_tcp_over_ucx=enable_tcp_over_ucx,
                      enable_nvlink=enable_nvlink,
                      enable_infiniband=enable_infiniband)
cluster = LocalCUDACluster(protocol="ucx",
                           enable_tcp_over_ucx=enable_tcp_over_ucx,
                           enable_nvlink=enable_nvlink,
                           enable_infiniband=enable_infiniband)

client = Client(cluster)
client

WARNING:bokeh.server.util:Host wildcard '*' will allow connections originating from multiple (or possibly all) hostnames or IPs. Use non-wildcard values to restrict access explicitly

In [6]:
!ifconfig

cscotun0: flags=4305<UP,POINTOPOINT,RUNNING,NOARP,MULTICAST>  mtu 1406
        inet 10.2.167.188  netmask 255.255.240.0  destination 10.2.167.188
        inet6 fe80::49e9:cde6:a28d:ee99  prefixlen 64  scopeid 0x20<link>
        unspec 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00  txqueuelen 500  (UNSPEC)
        RX packets 788042  bytes 739765483 (705.4 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 609922  bytes 128185359 (122.2 MiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

enp1s0f0u9c4i2: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        ether 9a:00:c6:5e:cc:d2  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

enp5s0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.50.250  netmask 255.255.255.0  broadcast 192.168.50.255
        inet6 fe80::502c:ff78:1930:67a3  prefixlen 64  scopeid 0x20<link>
        ether 10:7b:44:92:72:4e  txqueuelen 1000  (Ethernet)
        RX packets 1223856  bytes 1058019089 (1009.0 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 893310  bytes 237277827 (226.2 MiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0
        device memory 0xfa500000-fa51ffff

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 1352445  bytes 16863625961 (15.7 GiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 1352445  bytes 16863625961 (15.7 GiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

tun0: flags=4305<UP,POINTOPOINT,RUNNING,NOARP,MULTICAST>  mtu 1500
        inet 10.8.1.1  netmask 255.255.255.255  destination 10.8.1.2
        inet6 fe80::e978:31d2:b4ed:cdf8  prefixlen 64  scopeid 0x20<link>
        unspec 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00  txqueuelen 100  (UNSPEC)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 3521  bytes 694422 (678.1 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

virbr0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 192.168.122.1  netmask 255.255.255.0  broadcast 192.168.122.255
        ether 52:54:00:ac:a7:a5  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

In [7]:
bc = BlazingContext(network_interface="enp5s0", dask_client=client, config_options={"MAX_JOIN_SCATTER_MEM_OVERHEAD": 1})

starting polling thread
starting listeners
started listeners
blazing_log
BlazingContext ready

In [8]:
import cudf
import numpy as np
df = cudf.DataFrame({chr(x): cudf.Series(np.arange(4172, dtype="float64")) for x in range(65, 66)})

import dask_cudf

ddf = dask_cudf.from_cudf(df, npartitions=2)

In [9]:
!nvidia-smi

Wed Jul 15 19:12:29 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Quadro GV100        Off  | 00000000:42:00.0 Off |                  Off |
| 37%   50C    P2    45W / 250W |   1324MiB / 32508MiB |      2%      Default |
+-------------------------------+----------------------+----------------------+
|   1  Quadro GV100        Off  | 00000000:43:00.0  On |                  Off |
| 45%   59C    P2    52W / 250W |   1493MiB / 32505MiB |      1%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0     19933      C   ...oftware/miniconda3/envs/bsql/bin/python   657MiB |
|    0     20041      C   ...oftware/miniconda3/envs/bsql/bin/python   655MiB |
|    1      4132      G   /usr/bin/X                                   271MiB |
|    1      4397      G   /usr/bin/gnome-shell                         179MiB |
|    1      5033      G   ...quest-channel-token=1920258119881352545    65MiB |
|    1      8628      G   ...AAAAAAAAAAAAAAgAAAAAAAAA --shared-files   306MiB |
|    1     20037      C   ...oftware/miniconda3/envs/bsql/bin/python   655MiB |
+-----------------------------------------------------------------------------+

In [10]:
ddf = ddf.persist()

In [11]:
bc.create_table("test", ddf)
bc.create_table("test2", ddf)

In [12]:
bc.sql("select * from test").compute()

running on ucx://127.0.0.1:43864
running on ucx://127.0.0.1:60372

           A
0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
...      ...
2081  4167.0
2082  4168.0
2083  4169.0
2084  4170.0
2085  4171.0

[4172 rows x 1 columns]

In [ ]:
bc.sql("select test.A, test2.A from test full outer join test2 on test2.A = test.A ").compute()

running on ucx://127.0.0.1:43864
running on ucx://127.0.0.1:60372

In [29]:
bc.sql("select avg(a) from test group by b").compute()

Error found
fail:
 org.apache.calcite.runtime.CalciteContextException: At line 1, column 34: Column 'b' not found in any table
Parsing Error

AttributeError: 'NoneType' object has no attribute 'compute'

In [7]:
data_dir = "/home/cjnolet/Downloads/data/tpch/"
bc.create_table("orders",data_dir + "orders*.parquet")
bc.create_table("nation",data_dir + "nation*.parquet")
bc.create_table("supplier",data_dir + "supplier*.parquet")
bc.create_table("region",data_dir + "region*.parquet")
bc.create_table("partsupp",data_dir + "partsupp*.parquet")
bc.create_table("part",data_dir + "part_*.parquet")
bc.create_table("lineitem",data_dir + "lineitem*.parquet")
bc.create_table("customer",data_dir + "customer*.parquet")

In [ ]:
print(bc.sql("""
select COALESCE(orders.o_orderkey, 100),
                    COALESCE(orders.o_totalprice, 0.01) from customer
                    full outer join orders
                    on customer.c_custkey = orders.o_custkey
                    where customer.c_nationkey = 3
                    and customer.c_custkey < 3
                    LIMIT 2
""").compute())
print(bc.sql("""
select o_orderkey, count(o_custkey) from orders group by o_orderkey
""").compute())

running on ucx://127.0.0.1:48212
running on ucx://127.0.0.1:50104