# <b>S3 Test Notebook</b>

In [6]:
import os

In [24]:
# Here you have to set values of environment variables

os.environ['BLAZINGSQL_E2E_AWS_S3_ACCESS_KEY_ID']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_SECRET_KEY']=''

os.environ['BLAZINGSQL_E2E_AWS_S3_VIRGINIA_PUBLIC']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_VIRGINIA_AES']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_VIRGINIA_KMS']=''

os.environ['BLAZINGSQL_E2E_AWS_S3_OREGON_PUBLIC']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_OREGON_AES']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_OREGON_KMS']=''

os.environ['BLAZINGSQL_E2E_AWS_S3_KMS_ID_VIRGINIA']=''
os.environ['BLAZINGSQL_E2E_AWS_S3_KMS_ID_OREGON']=''

In [25]:
# Getting values of environment variables

access_key_id = os.getenv("BLAZINGSQL_E2E_AWS_S3_ACCESS_KEY_ID")
secret_key = os.getenv("BLAZINGSQL_E2E_AWS_S3_SECRET_KEY")

blazingsql_bucket = os.getenv("BLAZINGSQL_E2E_AWS_S3_VIRGINIA_PUBLIC")
blazingsql_bucket_aes = os.getenv("BLAZINGSQL_E2E_AWS_S3_VIRGINIA_AES")
blazingsql_bucket_aws_kms = os.getenv("BLAZINGSQL_E2E_AWS_S3_VIRGINIA_KMS")

blazingsql_bucket_us_west2 = os.getenv("BLAZINGSQL_E2E_AWS_S3_OREGON_PUBLIC")
blazingsql_bucket_us_west2_aes = os.getenv("BLAZINGSQL_E2E_AWS_S3_OREGON_AES")
blazingsql_bucket_us_west2_aws_kms = os.getenv("BLAZINGSQL_E2E_AWS_S3_OREGON_KMS")

kms_id_virginia = os.getenv("BLAZINGSQL_E2E_AWS_S3_KMS_ID_VIRGINIA")
kms_id_oregon = os.getenv("BLAZINGSQL_E2E_AWS_S3_KMS_ID_OREGON")

## <b>Init Context</b>

In [1]:
import dask

In [123]:
from dask.distributed import Client

In [124]:
ip_port_dask_scheduller = '3.89.185.184:8786'
network_interface = 'ens5'

In [125]:
client = Client(ip_port_dask_scheduller)

In [126]:
client

In [127]:
from blazingsql import BlazingContext

In [128]:
bc = BlazingContext(dask_client = client, network_interface='ens5')

BlazingContext ready

## <b>Register and create tables in Virginia region</b>

<b>Buckets</b>

* blazingsql-bucket
* blazingsql-bucket-aes-256
* blazingsql-bucket-aws-kms

<b>Tablas</b>
* nation
* region
* customer
* lineitem

In [129]:
from blazingsql import S3EncryptionType

In [130]:
authority = "tpch_s3_virginia"

In [131]:
bc.s3(authority, bucket_name=blazingsql_bucket, encryption_type=S3EncryptionType.NONE,
      access_key_id=access_key_id, secret_key=secret_key)

(True,
 '',
 OrderedDict([('type', 's3'),
              ('bucket_name', 'blazingsql-bucket'),
              ('access_key_id', 'AKIAJGB3SR3IXU3TE5WA'),
              ('secret_key', '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'),
              ('session_token', ''),
              ('encryption_type', <S3EncryptionType.NONE: 1>),
              ('kms_key_amazon_resource_name', ''),
              ('endpoint_override', ''),
              ('region', '')]))

In [132]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [133]:
ext = "parquet"

In [134]:
table_files_nation = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "nation", ext)

In [135]:
table_files_region = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "region", ext)

In [136]:
print("nation files: " + table_files_nation)

nation files: s3://tpch_s3_virginia/DataSet100Mb2part/tpch//nation_[0-9]*.parquet

In [137]:
bc.create_table("nation", table_files_nation)

In [138]:
bc.create_table("region", table_files_region)

In [139]:
query = """select n1.n_nationkey as n1key, n2.n_nationkey as n2key, n1.n_nationkey + n2.n_nationkey 
from nation as n1 full outer join nation as n2 on n1.n_nationkey = n2.n_nationkey + 6 
where n1.n_nationkey < 10 and n1.n_nationkey > 5"""

In [140]:
result = bc.sql(query)

In [141]:
print(result.compute())

   n1key  n2key  EXPR$2
0      6      0       6
1      7      1       8
2      8      2      10
3      9      3      12

In [142]:
authority = "tpch_s3_virginia_aes"

In [143]:
bc.s3(authority, bucket_name=blazingsql_bucket_aes,
      access_key_id=access_key_id,
      secret_key=secret_key,
      encryption_type=S3EncryptionType.AES_256)

(True,
 '',
 OrderedDict([('type', 's3'),
              ('bucket_name', 'blazingsql-bucket-aes-256'),
              ('access_key_id', 'AKIAJGB3SR3IXU3TE5WA'),
              ('secret_key', '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'),
              ('session_token', ''),
              ('encryption_type', <S3EncryptionType.AES_256: 2>),
              ('kms_key_amazon_resource_name', ''),
              ('endpoint_override', ''),
              ('region', '')]))

In [144]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [145]:
table_files_customer = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "customer", ext)

In [146]:
print("customer files: " + table_files_customer)

customer files: s3://tpch_s3_virginia_aes/DataSet100Mb2part/tpch//customer_[0-9]*.parquet

In [147]:
bc.create_table("customer", table_files_customer)
print("customer table created!")

customer table created!

In [148]:
query = """select * from customer limit 10"""

In [149]:
result = bc.sql(query)

In [150]:
print(result.compute())

   c_custkey              c_name                              c_address  \
0          1  Customer#000000001                      IVhzIApeRb ot,c,E
1          2  Customer#000000002         XSTf4,NCwDVaWNe6tEgvwfmRchLXak
2          3  Customer#000000003                           MG9kdTD2WBHm
3          4  Customer#000000004                            XxVSJsLAGtn
4          5  Customer#000000005           KvpyuHCplrB84WgAiGV6sYpZq7Tj
5          6  Customer#000000006   sKZz0CsnMD7mp4Xd0YrBvx,LREYKUWAh yVn
6          7  Customer#000000007         TcGe5gaZNgVePxU5kRrvXBfkasDTea
7          8  Customer#000000008  I0B10bB0AymmC, 0PrRYBCP1yGJ8xcBPmWhl5
8          9  Customer#000000009             xKiAFTjUsCuxfeleNqefumTrjS
9         10  Customer#000000010     6LrEaV6KR6PLVcgl2ArL Q3rqzLzcT1 v2

   c_nationkey          c_phone  c_acctbal c_mktsegment  \
0           15  25-989-741-2988     711.56     BUILDING
1           13  23-768-687-3665     121.65   AUTOMOBILE
2            1  11-719-748-3364    7498.12   AUTOMOBILE
3            4  14-128-190-5944    2866.83    MACHINERY
4            3  13-750-942-6364     794.47    HOUSEHOLD
5           20  30-114-968-4951    7638.57   AUTOMOBILE
6           18  28-190-982-9759    9561.95   AUTOMOBILE
7           17  27-147-574-9335    6819.74     BUILDING
8            8  18-338-906-3675    8324.07    FURNITURE
9            5  15-741-346-9870    2753.54    HOUSEHOLD

                                           c_comment
0  to the even, regular platelets. regular, ironi...
1  l accounts. blithely ironic theodolites integr...
2   deposits eat slyly ironic, even instructions....
3   requests. final, regular ideas sleep final accou
4  n accounts will have to unwind. foxes cajole a...
5  tions. even deposits boost according to the sl...
6  ainst the ironic, express theodolites. express...
7  among the slyly regular theodolites kindle bli...
8  r theodolites according to the requests wake t...
9                    es regular deposits haggle. fur

In [151]:
authority = "tpch_s3_virginia_kms"

In [5]:
bc.s3(authority, bucket_name=blazingsql_bucket_aws_kms,
      access_key_id=access_key_id,
      secret_key=secret_key,
      encryption_type=S3EncryptionType.AWS_KMS,
      kms_key_amazon_resource_name=kms_id_virginia)

NameError: name 'bc' is not defined

In [153]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [154]:
table_files_lineitem = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "lineitem", ext)

In [155]:
bc.create_table("lineitem", table_files_lineitem)
print("lineitem table created!")

lineitem table created!

In [156]:
query = """select * from lineitem limit 10"""

In [157]:
result = bc.sql(query)

In [158]:
print(result.compute())

   l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0           1      15519        785             1        17.0
1           1       6731        732             2        36.0
2           1       6370        371             3         8.0
3           1        214        465             4        28.0
4           1       2403        160             5        24.0
5           1       1564         67             6        32.0
6           2      10617        138             1        38.0
7           3        430        181             1        45.0
8           3       1904        658             2        49.0
9           3      12845        370             3        27.0

   l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0         24386.67        0.04   0.02            N            O 1996-03-13
1         58958.28        0.09   0.06            N            O 1996-04-12
2         10210.96        0.10   0.02            N            O 1996-01-29
3         31197.88        0.09   0.06            N            O 1996-04-21
4         31329.60        0.10   0.04            N            O 1996-03-30
5         46897.92        0.07   0.02            N            O 1996-01-30
6         58049.18        0.00   0.05            N            O 1997-01-28
7         59869.35        0.06   0.00            R            F 1994-02-02
8         88489.10        0.10   0.00            R            F 1993-11-09
9         47461.68        0.06   0.07            A            F 1994-01-16

  l_commitdate l_receiptdate     l_shipinstruct l_shipmode  \
0   1996-02-12    1996-03-22  DELIVER IN PERSON      TRUCK
1   1996-02-28    1996-04-20   TAKE BACK RETURN       MAIL
2   1996-03-05    1996-01-31   TAKE BACK RETURN    REG AIR
3   1996-03-30    1996-05-16               NONE        AIR
4   1996-03-14    1996-04-01               NONE        FOB
5   1996-02-07    1996-02-03  DELIVER IN PERSON       MAIL
6   1997-01-14    1997-02-02   TAKE BACK RETURN       RAIL
7   1994-01-04    1994-02-23               NONE        AIR
8   1993-12-20    1993-11-24   TAKE BACK RETURN       RAIL
9   1993-11-22    1994-01-23  DELIVER IN PERSON       SHIP

                             l_comment
0              egular courts above the
1   ly final dependencies: slyly bold
2        riously. regular, express dep
3              lites. fluffily even de
4              pending foxes. slyly re
5                    arefully slyly ex
6      ven requests. deposits breach a
7  ongside of the furiously brave acco
8                unusual accounts. eve
9                     nal foxes wake.

## <b>Register and create tables in Oregon region</b>

<b>Buckets</b>

* blazingsql-bucket-us-west-2
* blazingsql-bucket-us-west-2-aes-256
* blazingsql-bucket-us-west-2-aws-kms

<b>Tablas</b>

* part
* partsupp
* supplier

In [159]:
authority = "tpch_s3_oregon"

In [160]:
bc.s3(authority, bucket_name=blazingsql_bucket_us_west2, 
      encryption_type=S3EncryptionType.NONE,
      access_key_id=access_key_id,
      secret_key=secret_key)

(True,
 '',
 OrderedDict([('type', 's3'),
              ('bucket_name', 'blazingsql-bucket-us-west-2'),
              ('access_key_id', 'AKIAJGB3SR3IXU3TE5WA'),
              ('secret_key', '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'),
              ('session_token', ''),
              ('encryption_type', <S3EncryptionType.NONE: 1>),
              ('kms_key_amazon_resource_name', ''),
              ('endpoint_override', ''),
              ('region', '')]))

In [161]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [162]:
table_files_part = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "part", ext)

In [163]:
print("part files: " + table_files_part)

part files: s3://tpch_s3_oregon/DataSet100Mb2part/tpch//part_[0-9]*.parquet

In [164]:
bc.create_table("part", table_files_part)
print("part table created!")

part table created!

In [165]:
query = "select * from part limit 20"

In [166]:
result = bc.sql(query)

In [167]:
print(result.compute())

    p_partkey                                    p_name          p_mfgr  \
0           1  goldenrod lavender spring chocolate lace  Manufacturer#1
1           2          blush thistle blue yellow saddle  Manufacturer#1
2           3       spring green yellow purple cornsilk  Manufacturer#4
3           4     cornflower chocolate smoke green pink  Manufacturer#3
4           5             forest brown coral puff cream  Manufacturer#3
5           6     bisque cornflower lawn forest magenta  Manufacturer#2
6           7       moccasin green thistle khaki floral  Manufacturer#1
7           8             misty lace thistle snow royal  Manufacturer#4
8           9         thistle dim navajo dark gainsboro  Manufacturer#4
9          10             linen pink saddle puff powder  Manufacturer#5
10         11      spring maroon seashell almond orchid  Manufacturer#2
11         12      cornflower wheat orange maroon ghost  Manufacturer#3
12         13           ghost olive orange rosy thistle  Manufacturer#5
13         14       khaki seashell rose cornsilk navajo  Manufacturer#1
14         15    blanched honeydew sky turquoise medium  Manufacturer#1
15         16             deep sky turquoise drab peach  Manufacturer#3
16         17               indian navy coral pink deep  Manufacturer#4
17         18     turquoise indian lemon lavender misty  Manufacturer#1
18         19             chocolate navy tan deep brown  Manufacturer#2
19         20        ivory navy honeydew sandy midnight  Manufacturer#1

     p_brand                     p_type  p_size p_container  p_retailprice  \
0   Brand#13     PROMO BURNISHED COPPER       7   JUMBO PKG         901.00
1   Brand#13        LARGE BRUSHED BRASS       1     LG CASE         902.00
2   Brand#42    STANDARD POLISHED BRASS      21   WRAP CASE         903.00
3   Brand#34         SMALL PLATED BRASS      14    MED DRUM         904.00
4   Brand#32      STANDARD POLISHED TIN      15      SM PKG         905.00
5   Brand#24         PROMO PLATED STEEL       4     MED BAG         906.00
6   Brand#11        SMALL PLATED COPPER      45      SM BAG         907.00
7   Brand#44        PROMO BURNISHED TIN      41     LG DRUM         908.00
8   Brand#43      SMALL BURNISHED STEEL      12   WRAP CASE         909.00
9   Brand#54      LARGE BURNISHED STEEL      44      LG CAN         910.01
10  Brand#25  STANDARD BURNISHED NICKEL      43    WRAP BOX         911.01
11  Brand#33      MEDIUM ANODIZED STEEL      25  JUMBO CASE         912.01
12  Brand#55    MEDIUM BURNISHED NICKEL       1  JUMBO PACK         913.01
13  Brand#13       SMALL POLISHED STEEL      28   JUMBO BOX         914.01
14  Brand#15       LARGE ANODIZED BRASS      45     LG CASE         915.01
15  Brand#32           PROMO PLATED TIN       2    MED PACK         916.01
16  Brand#43      ECONOMY BRUSHED STEEL      16      LG BOX         917.01
17  Brand#11      SMALL BURNISHED STEEL      42  JUMBO PACK         918.01
18  Brand#23      SMALL ANODIZED NICKEL      33    WRAP BOX         919.01
19  Brand#12      LARGE POLISHED NICKEL      48     MED BAG         920.02

                p_comment
0         ly. slyly ironi
1        lar accounts amo
2     egular deposits hag
3           p furiously r
4         wake carefully
5                  sual a
6                lyly. ex
7                   eposi
8             ironic foxe
9    ithely final deposit
10                  ng gr
11                quickly
12                 osits.
13                kages c
14               usual ac
15                 unts a
16       regular accounts
17       s cajole slyly a
18            pending acc
19  are across the asympt

In [168]:
authority = "tpch_s3_oregon_aes"

In [169]:
bc.s3(authority, bucket_name=blazingsql_bucket_us_west2_aes,
      access_key_id=access_key_id,
      secret_key=secret_key,
      encryption_type=S3EncryptionType.AES_256)

(True,
 '',
 OrderedDict([('type', 's3'),
              ('bucket_name', 'blazingsql-bucket-us-west-2-aes-256'),
              ('access_key_id', 'AKIAJGB3SR3IXU3TE5WA'),
              ('secret_key', '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'),
              ('session_token', ''),
              ('encryption_type', <S3EncryptionType.AES_256: 2>),
              ('kms_key_amazon_resource_name', ''),
              ('endpoint_override', ''),
              ('region', '')]))

In [170]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [171]:
table_files_partsupp = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "partsupp", ext)

In [172]:
print("partsupp files: " + table_files_partsupp)

partsupp files: s3://tpch_s3_oregon_aes/DataSet100Mb2part/tpch//partsupp_[0-9]*.parquet

In [173]:
bc.create_table("partsupp", table_files_partsupp)
print("partsupp table created!")

partsupp table created!

In [174]:
query = """select * from partsupp limit 10"""

In [175]:
result = bc.sql(query)

In [176]:
print(result.compute())

   ps_partkey  ps_suppkey  ps_availqty  ps_supplycost  \
0           1           2         3325         771.64
1           1         252         8076         993.49
2           1         502         3956         337.09
3           1         752         4069         357.84
4           2           3         8895         378.49
5           2         253         4969         915.27
6           2         503         8539         438.37
7           2         753         3025         306.39
8           3           4         4651         920.92
9           3         254         4093         498.13

                                          ps_comment
0  , even theodolites. regular, final theodolites...
1  ven ideas. quickly even packages print. pendin...
2  after the fluffily ironic deposits? blithely s...
3  al, regular dependencies serve carefully after...
4  nic accounts. final accounts sleep furiously a...
5  ptotes. quickly pending dependencies integrate...
6  blithely bold ideas. furiously stealthy packag...
7  olites. deposits wake carefully. even, express...
8  ilent foxes affix furiously quickly unusual re...
9  ending dependencies haggle fluffily. regular d...

In [60]:
authority = "tpch_s3_oregon_kms"

In [61]:
bc.s3(authority, bucket_name=blazingsql_bucket_us_west2_aws_kms,
      access_key_id=access_key_id,
      secret_key=secret_key,
      encryption_type=S3EncryptionType.AWS_KMS,
      kms_key_amazon_resource_name=kms_id_oregon)

(True,
 '',
 OrderedDict([('type', 's3'),
              ('bucket_name', 'blazingsql-bucket-us-west-2-aws-kms'),
              ('access_key_id', 'AKIAJGB3SR3IXU3TE5WA'),
              ('secret_key', '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'),
              ('session_token', ''),
              ('encryption_type', <S3EncryptionType.AWS_KMS: 3>),
              ('kms_key_amazon_resource_name',
               'arn:aws:kms:us-west-2:132950491118:key/3bf4750d-4d9d-4f7b-8c16-db57a92dd665'),
              ('endpoint_override', ''),
              ('region', '')]))

In [177]:
dir_data_lc = "s3://" + authority + "/" + "DataSet100Mb2part/" + "tpch/"

In [178]:
table_files_orders = ("%s/%s_[0-9]*.%s") % (dir_data_lc, "orders", ext)

In [179]:
print("orders files: " + table_files_orders)

orders files: s3://tpch_s3_oregon_aes/DataSet100Mb2part/tpch//orders_[0-9]*.parquet

In [180]:
bc.create_table("orders", table_files_orders)
print("orders table created!")

orders table created!

In [181]:
query = """select * from orders limit 20"""

In [182]:
result = bc.sql(query)

In [183]:
print(result.compute())

    o_orderkey  o_custkey o_orderstatus  o_totalprice o_orderdate  \
0            1       3691             O     194029.55  1996-01-02
1            2       7801             O      60951.63  1996-12-01
2            3      12332             F     247296.05  1993-10-14
3            4      13678             O      53829.87  1995-10-11
4            5       4450             F     139660.54  1994-07-30
5            6       5563             F      65843.52  1992-02-21
6            7       3914             O     231037.28  1996-01-10
7           32      13006             O     166802.63  1995-07-16
8           33       6697             F     118518.56  1993-10-27
9           34       6101             O      75662.77  1998-07-21
10          35      12760             O     192885.43  1995-10-23
11          36      11527             O      72196.43  1995-11-03
12          37       8612             F     156440.15  1992-06-03
13          38      12484             O      64695.26  1996-08-21
14          39       8177             O     307811.89  1996-09-20
15          64       3212             F      30616.90  1994-07-16
16          65       1627             P      99763.79  1995-03-18
17          66      12920             F     100991.26  1994-01-20
18          67       5662             O     167270.36  1996-12-19
19          68       2855             O     305815.83  1998-04-18

    o_orderpriority          o_clerk  o_shippriority  \
0             5-LOW  Clerk#000000951               0
1          1-URGENT  Clerk#000000880               0
2             5-LOW  Clerk#000000955               0
3             5-LOW  Clerk#000000124               0
4             5-LOW  Clerk#000000925               0
5   4-NOT SPECIFIED  Clerk#000000058               0
6            2-HIGH  Clerk#000000470               0
7            2-HIGH  Clerk#000000616               0
8          3-MEDIUM  Clerk#000000409               0
9          3-MEDIUM  Clerk#000000223               0
10  4-NOT SPECIFIED  Clerk#000000259               0
11         1-URGENT  Clerk#000000358               0
12         3-MEDIUM  Clerk#000000456               0
13  4-NOT SPECIFIED  Clerk#000000604               0
14         3-MEDIUM  Clerk#000000659               0
15         3-MEDIUM  Clerk#000000661               0
16         1-URGENT  Clerk#000000632               0
17            5-LOW  Clerk#000000743               0
18  4-NOT SPECIFIED  Clerk#000000547               0
19         3-MEDIUM  Clerk#000000440               0

                                            o_comment
0                  nstructions sleep furiously among
1    foxes. pending accounts at the pending, silen...
2   sly final accounts boost. carefully regular id...
3   sits. slyly regular warthogs cajole. regular, ...
4   quickly. bold deposits sleep slyly. packages u...
5   ggle. special, final requests are against the ...
6                                ly special requests
7   ise blithely bold, regular requests. quickly u...
8                   uriously. furiously final request
9   ly final packages. fluffily final deposits wak...
10        zzle. carefully enticing deposits nag furio
11   quick packages are blithely. slyly silent acc...
12  kly regular pinto beans. carefully unusual wat...
13  haggle blithely. furiously express ideas haggl...
14                   ole express, ironic requests: ir
15  wake fluffily. sometimes ironic pinto beans ab...
16  ular requests are blithely pending orbits-- ev...
17                       y pending requests integrate
18   symptotes haggle slyly around the furiously iron
19   pinto beans sleep carefully. blithely ironic ...

# <b>Queries with created tables with data from different regions</b>

In [184]:
query = """
                select
                    l.l_orderkey,
                    sum(l.l_extendedprice*(1-l.l_discount)) as revenue,
                    o.o_orderdate,
                    o.o_shippriority
                from
                    customer c
                    inner join orders o 
                    on c.c_custkey = o.o_custkey
                    inner join lineitem l
                    on l.l_orderkey = o.o_orderkey
                where
                    c.c_mktsegment = 'BUILDING'
                    and o.o_orderdate < date '1995-03-15'
                    and l.l_shipdate > date '1995-03-15'
                group by
                    l.l_orderkey,
                    o.o_orderdate,
                    o.o_shippriority
                order by
                    revenue desc,
                    o.o_orderdate
                limit 10
            """

In [185]:
result = bc.sql(query)

In [186]:
print(result.compute())

   l_orderkey      revenue o_orderdate  o_shippriority
0      223140  355369.0698  1995-03-14               0
1      584291  354494.7318  1995-02-21               0
2      405063  353125.4577  1995-03-03               0
3      573861  351238.2770  1995-03-09               0
4      554757  349181.7426  1995-03-14               0
5      506021  321075.5810  1995-03-10               0
6      121604  318576.4154  1995-03-07               0
7      108514  314967.0754  1995-02-20               0
8      462502  312604.5420  1995-03-08               0
9      178727  309728.9306  1995-02-25               0

In [189]:
query = """
                select
                    c.c_custkey,
                    c.c_name,
                    sum(l.l_extendedprice * (1 - l.l_discount)) as revenue,
                    c.c_acctbal,
                    n.n_name,
                    c.c_address,
                    c.c_phone,
                    c.c_comment
                from
                    customer c
                    inner join orders o
                    on c.c_custkey = o.o_custkey
                    inner join lineitem l
                    on l.l_orderkey = o.o_orderkey
                    inner join nation n
                    on c.c_nationkey = n.n_nationkey
                where
                    o.o_orderdate >= date '1993-10-01'
                    and o.o_orderdate < date '1993-10-01' + interval '3' month
                    and l.l_returnflag = 'R'
                group by
                    c.c_custkey,
                    c.c_name,
                    c.c_acctbal,
                    c.c_phone,
                    n.n_name,
                    c.c_address,
                    c.c_comment
                order by
                    revenue desc
                limit 20
            """

In [ ]:
result = bc.sql(query)

In [ ]:
print(result.compute())